.footer-dark {
  padding: 50px 0;
  padding-bottom: 100px;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark {
    padding-bottom: 20px;
  }

  .footer-dark .item.text {
    margin-bottom: 0;
  }

  #footer1 p {
    margin: auto;
    display: block;
    padding: 12px 0px;
    text-align: center;
  }

  #footer2 button {
    display: block;
    margin: 12px auto;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

footer form input {
  background: none;
  box-shadow: none;
  border: 1px solid #ffffff;
  width: 90%;
  color: #ffffff;
  padding-left: 5px;
}
