.navbar2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color:white;
  width:100vw;
  height:80px;
  align-items:center
}

.navbarcontainer{
  width:80%;
  align-content: center;
  padding: 0;
  margin: 0;
  background-color: aquamarine
}


.logonv2{
  padding-left: 20%;
  padding-top: 0px;
  float: left;
  width: 120px;
  background-color: darkgreen;
  height: 100%

}

.centralvendas{
  background-color: red;
  font-family: sans-serif;
  font-style: normal;
  width: 40%;
  height:100%;
  float: left;
  align-content: center;

}

.socialmedia{
  float: left;
  padding-right: 40%;
  height: 100%;
  width:40%;
  background-color: blueviolet
}
